.english{display: none}
.isizulu{display: none}

a {
  display: inline-block;
  width: 100%;
}

.orange {
  color: white;
  background-color: #BF360C
}

.lightorange {
  color: white;
  background-color: rgb(247, 120, 82)
}

.purple {
  color: white;
  background-color: #6200EA
}

.brown {
  color: white;
  background-color: #3E2723
}

body {
  background-color: whitesmoke
}

.card {
  background-color: white
}

#zlc {
  color: darkorange;
  background-color: black;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;


}

.title-big {
  font-size: 3rem;
  color: gray;
}

.title-medium {
  font-size: 2rem;
  color: gray;
  border-bottom: lightgray 1px
}

.pdate {
  color: gray;
  font-size: 0.9rem
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}